/* Increased specificity by using a unique class name */
.custom-app-navigation {
  width: 100%;
  background-color: #0b588f;
}

.custom-app-navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.custom-app-navigation li {
  flex: 1;
  border-right: 1px solid #fff;
}

.custom-app-navigation li:last-child {
  border-right: none;
}

.custom-app-navigation li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.custom-app-navigation li a:hover,
.custom-app-navigation li a:focus {
  background-color: #073c61;
}

